{% extends "base.html" %}


{% block content %}
<main class="main main--about">
  <p>
    Hi, my name is Risto.
  </p>
  <p>
    In 2020 I graduated from LAB University of Applied Sciences with a degree in International Business.
    Now in 2025 I graduated with a software engineering degree from the same school and started working for Wolt.
    At Wolt, I am a backend developer working with Go, Kotlin and Python in FinTech, more specifically payments.
  </p>
  <p>
    In the past few years I have been studying many different programming languages and building some personal projects (which can be found in my GitHub profile).
    Some of my favourite languages include Go, Rust, Java and Python. I am more familiar with backend technologies, but can also do some frontend work with React and Angular.
    I am familiar with R as a language for data science and analytics too.
  </p>
  <p>
    In my spare time I like to play guitar, bike, run and play video games. Recently I also built a bass guitar for myself and have been learning how to play that.
  </p>
  <div class="profile-picture">
    <img src="static/img/1632735873866.jpeg" alt="Profile picture of the writer.">
  </div>
</main>
{% endblock %}
    