{% extends "base.html" %}

{% block content %}
<main class="main main--content">
  <dl>
    <div class="contact">
      <dt>Email:</dt>
      <dd class="contact__detail">
        <a class="contact__link" href="mailto:risto.flink@pm.me">
          risto.flink [at] pm.me
        </a>
      </dd>
    </div>
    <div class="contact">
      <dt>GitHub:</dt>
      <dd class="contact__detail">
        <a class="contact__link" href="https://github.com/RistoFlink">
          @RistoFlink
        </a>
      </dd>
    </div>
    <div class="contact">
      <dt>LinkedIn:</dt>
      <dd class="contact__detail">
        <a class="contact__link" href="https://www.linkedin.com/in/risto-flink-597b9a1b1/">
          My profile
        </a>
      </dd>
    </div>
  </dl>
</main>
{% endblock %}