<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risto Flink | Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css"/>
</head>
<body>
<header class="header">
    <h1>Risto Flink</h1>

    <nav class="nav">
        <a href="/" class="nav__link {% if current_page == 'home' %}nav__link--active{% endif %}">
            Projects
        </a>
        <a href="/about" class="nav__link {% if current_page == 'about' %}nav__link--active{% endif %}">
            About
        </a>
        <a href="/contact" class="nav__link {% if current_page == 'contact' %}nav__link--active{% endif %}">
            Contact
        </a>
    </nav>
</header>

{% block content %}

{% endblock content%}

</body>
</html>